html{
    font-size:62.5%;
}
body{

    height:100vh;
    width: 100vw;
    
}

#outer
{
    display:flex;
    position: relative;
    top:15%;
    left:30%;
    flex-direction: column;
    align-items: center;
    height:auto;
    width:27%;
    background-color: rgb(3, 2, 15);
    min-width:30rem;
    /* margin-left:40%;
    margin-top:400px; */
    padding:10px 5px 10px 5px;
}
#display
{
    width:100%;
    height:9rem;
    background-color: rgb(3, 2, 15);
    margin-bottom:1rem;
}
#buttons
{
    display:flex;
    flex-direction: column;
    /* background-color: blanchedalmond; */
    width:100%;
    height:auto;
    padding:1rem 2rem 1rem 1rem;
}
.common:active
{
    transform: translateY(0.3rem);
}
.row
{
    display:flex;
    flex-direction: row;
    margin:0.5rem 0px 0.5rem 0.5rem;
    /* background-color: blue; */
    width:100%;
    height:auto;
    justify-content:space-around;
    
}
.row button 
{
    height:6rem;
    width:17%;
    border-radius: 100%;
    border:none;
    font-size: x-large;
    font-weight: 300;
    outline: none;
    /* padding:5%; */
    /* margin-left: 7px; */
}
.zero
{
    width:40% !important;
    /* border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
    border-bottom-right-radius: 50% !important; */
    border-radius:20rem !important;
}

/* color schemes */
.top3
{
    background-color: #f2f5f0;
}
.top3:hover{
    background-color: white;
    border-radius:0.05rem solid black;
}
.rightmost
{
    background-color: #f5c93b;
}
.rightmost:hover
{
    background-color:#e6c45a ;
    border-radius:0.05rem solid black;
}
.mid
{
    color:white;
    background-color: #5e5d5a;
}
.mid:hover{
    background-color:#7d7c7a ;
    border-radius:0.05rem solid white;
}
.dot
{
    margin-left: 2%;
}



/* display */
#display
{
    position:relative;
    
}
#display p{
    position: absolute;
    bottom: 0%;
    right:10%;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: white;
    margin-bottom: 0 !important;
}